.DS_Store
.env
.env.*
!.env.example
.git
.github
.pytest_cache
.venv
__pycache__
*.py[cod]

dbt_retailiq/logs
dbt_retailiq/target
orchestration/airflow/logs

data/raw/walmart/*
!data/raw/walmart/README.md
data/processed/walmart/*
!data/processed/walmart/README.md
data/ml_outputs/*
!data/ml_outputs/README.md

models/*
!models/README.md

notebooks/.ipynb_checkpoints
screenshots/*
